.tab2 {display: grid; grid-gap: 5px; grid-template-columns: repeat(8, 1fr); justify-items: end;}
.tab2 a { width:100%;}
.tab2 button {  background: #f26522;  font-size:13px; padding-top: 15px; padding-bottom: 12px; border: none; border-top-left-radius: 10px; border-top-right-radius: 10px; outline: none;}
.tab2 button:hover { color: #aaa; font-size:13px; background-color: #fff;}
.tab2 button.active { color: #333; border-top: 1px solid #aaa; font-size:13px; background-color: #fff;}

#content article .search form {display:flex; justify-content: flex-end; align-items: center; }
#search-box {text-align: left; width: 200px; height:30.5px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border:1px solid #d0d0d0; padding: 0;}
#search-btn:hover {opacity: 0.8; transition: opacity .2s;}
#search-box::placeholder {color:#777; font-size:13px; padding-left: 10px;}
.search {margin-right:5px;}

#content article .paginate {text-align: center; margin-top:15px;}
#content article .pagelist a {font-size: 12px; color: #666; padding:0 3px; font-weight:400;}
#content article .pagelist a span:hover {font-weight: 700; color:#f26522;}
#content article .pagelist a img {padding-bottom:4px;}
#content article .pagelist .btn_pre_end:hover, #content article .pagelist .btn_pre:hover, #content article .pagelist .btn_next:hover, #content article .pagelist .btn_next_end:hover {filter:brightness(80%);}


.mem_table {display: flex; }
.mem_table table { width:510px; margin:10px; border: 1px solid #d0d0d0; text-align: center;}
.mem_table table th {border: 1px solid #d0d0d0; text-align: center;}
.mem_table table td {border: 1px solid #d0d0d0; text-align: left;}
.members-table th { background-color: #f8f6f6; }
#content article ul#mem_pt { padding-top:10px;}
#content article ul#mem_pt li { margin-bottom:10px; list-style-image: url('../images/bullet2.png');}

/* phonebook */

.top_info { display: flex; justify-content: space-between; align-items: baseline;}
.top_info img { padding-bottom:5px;}
#content article .mem_left p { text-align:left; font-size:14px; margin-top:0; padding-top:0;}
#content article .mem_right p { text-align:left; font-size:14px; margin-top:0; padding-top:0;}
#content article .paginate_text { text-align:center; font-size:14px; margin-top:10px; padding-top:0;}
.mem_table .mem_left { margin-right:20px;}
.mem_table .mem_left table { margin:10px 0; width:454px;}
.mem_table .mem_left table th { text-align: left;}
.mem_table .mem_right table { margin:10px 0; width:454px;}
.mem_table .mem_right table th { text-align: left;}

#content article .search2 form {display:flex; justify-content: flex-end; align-items: center; }
.search2 #search-box {text-align: left; width: 150px; height:30.5px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border:1px solid #d0d0d0; padding: 0;}
.search2 #search-btn:hover {opacity: 0.8; transition: opacity .2s;}
.search2 #search-box::placeholder {color:#777; font-size:13px; padding-left: 10px;}
.search2 {margin-right:0;}

.red {color:red;}

/* Tabs */
.tab {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(8, 1fr);
  justify-items: end; 
}

.tab button {
  background: #f26522;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  cursor: pointer;
}

.tab button:hover {
  color: #333;
  background-color: #fff;
}

.tab button.active {
  color: #333;
  background-color: #fff;
}

.tablinks {
  width: 100%;
}

.tabcontent {
  background: #fff;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#subtitle {
  padding: 30px;
  text-align: center;
  color: rgb(47, 47, 148);
}

.content {
  text-align: center;
}